@model Post
@{
    ViewData["Title"] = Model.Title;
    Model.Comments.Reverse();
}

<img src="@Model.ThumbnailPath" />
<p>@Model.Title</p>
<p>@Model.Content</p>
<p>@Model.CreatedAt.ToString("dd:mm:yy HH:mm")</p>

<form asp-controller="PostComment" asp-action="Create" asp-route-postId="@Model.Id">
    <input name="Comment.Content" />
    <button>Отправить</button>
</form>

<div class="comments">
    @foreach (var comment in Model.Comments)
    {
        <div class="comment">
            <p>@comment.Content</p>
            <p>@comment.Author.UserName</p>
        </div>
    }
</div>