@model Post
@{
    ViewData["Title"] = Model.Title;
}

<p>@Model.Title</p>
<p>@Model.Content</p>
<p>@Model.CreatedAt.ToString("dd:mm:yy HH:mm")</p>

<form asp-controller="CommentPost" asp-action="Create" asp-route-postId="@Model.Id">
    <input name="Comment.Content" />
    <button>Отправить</button>
</form>

<div class="comments">
    @foreach (var comment in Model.Comments)
    {
        <div class="comment">
            <p>@comment.Content</p>
            <p>@comment.Autor.UserName</p>
        </div>
    }
</div>